<table class="table table-responsive table-hover table-striped table-bordered">
  <thead>
    <tr>
      <th>#</th>
      <th>name</th>
      <th>played</th>
      <th>won</th>
      <th>lost</th>
      <th>win [%]</th>
    </tr>
  </thead>

  <tbody>

    <% @players.each_with_index do |player, index| %>
      <tr>
        <th scope="row"><%= index + 1 %></th>
        <td><%= link_to player.name, player %></td>
        <td><%= player.won + player.lost %></td>
        <td><%= player.won %></td>
        <td><%= player.lost %></td>
        <td><%= player.winning_percentage * 100 %></td>
      </tr>
    <% end %>
  </tbody>
</table>
