<!-- TODO Check button should be disabled until both players are selected -->
<h1>Versus</h1>
<%= form_for :versus, remote: true, url: {action: "versus"}, html: {role: "form"} do |f| %>
  <div class="form-group row">
    <div class="col-xs-4">
      <%= f.label :player1, class: 'sr-only' %>
      <%= f.collection_select :player1_id, Player.all, :id, :name, {prompt: "choose player 1"}, {class: "form-control custom-select text-primary #{"form-control-danger" if !Player.first.errors.messages[:id].empty?}"} %>
    </div>
    <div id="score_digits_div">
      <div id="player1_score" class="col-xs-1 text-xs-center">
        <h2>-</h2>
      </div>
      <div class="col-xs-2 text-xs-center">
        <h2>vs</h2>
      </div>
      <div id="player2_score" class="col-xs-1 text-xs-center">
        <h2>-</h2>
      </div>
    </div>
    <div class="col-xs-4">
      <%= f.label :player2, class: 'sr-only' %>
      <%= f.collection_select :player2_id, Player.all, :id, :name, {prompt: "choose player 2"}, {class: "form-control custom-select text-primary #{"form-control-danger" if !Player.first.errors.messages[:id].empty?}"} %>
    </div>
  </div>
  <%= f.submit 'check score', class: 'btn btn-primary btn-block' %>
<% end %>
