<%= form_for @player, html: { role: "form" } do |f| %>
  <div class="form-group <%= "has-danger" if !@player.errors.messages[:name].empty? %>">
    <%= f.text_field :name, class: "form-control #{"form-control-danger" if !@player.errors.messages[:name].empty?}", placeholder: 'player name' %>
    <% if !@player.errors.messages[:name].empty? %>
      <% @player.errors.messages[:name].each do |msg| %>
        <div class="form-control-feedback">
          <%= msg %>
        </div>
      <% end %>
    <% end %>
  </div>
  <%= f.submit 'add player', class: 'btn btn-primary btn-block' %>
<% end %>
