<div class="card card-outline-primary text-xs-center">
  <h3 class="card-header"><%= @player.reload.name %></h3>
  <div class="card-block">
    <h4 class="card-title"><%= @player.winning_percentage * 100 %>%</h4>
    <p class="card-text">
      <%= "#{pluralize(@player.won, 'win')} and #{pluralize(@player.lost, 'loss')}" %>
    </p>
    <p class="card-text">
      <small class="text-muted">Last match was ..... ago</small>
    </p>
  </div>
  <div class="card-footer text-muted">
    <%= link_to 'edit', edit_player_path(@player), class:'card-link' %>
    <%= link_to 'delete', @player, method: :delete, data: {confirm: "Delete \"#{@player.name}\"?"} %>
  </div>
</div>
