<!-- TODO Show errors on invalid submission -->
<%= form_for @match, html: { role: "form" } do |f| %>
  <div class="form-group row <%= "has-danger" if !@match.errors.messages[:winning_player].empty? %>">
    <%= f.label :winning_player, "winner", class:'col-xs-2 col-form-label text-success' %>
    <div class="col-xs-10">
      <%= f.collection_select :winning_player_id, Player.all, :id, :name, {prompt: "Select the winning player"}, {class: "form-control custom-select text-success #{"form-control-danger" if !@match.errors.messages[:winning_player].empty?}"} %>
      <% if !@match.errors.messages[:winning_player].empty? %>
        <% @match.errors.messages[:winning_player].each do |msg| %>
          <div class="form-control-feedback">
            <%= msg %>
          </div>
        <% end %>
      <% end %>
    </div>
  </div>
  <div class="form-group row <%= "has-danger" if !@match.errors.messages[:losing_player].empty? %>">
    <%= f.label :losing_player, "loser", class:'col-xs-2 col-form-label text-warning' %>
    <div class="col-xs-10">
      <%= f.collection_select :losing_player_id, Player.all, :id, :name, {prompt: "Select the losing player"}, {class: "form-control custom-select text-warning #{"form-control-danger" if !@match.errors.messages[:losing_player].empty?}"} %>
      <% if !@match.errors.messages[:losing_player].empty? %>
        <% @match.errors.messages[:losing_player].each do |msg| %>
          <div class="form-control-feedback">
            <%= msg %>
          </div>
        <% end %>
      <% end %>
    </div>
  </div>
  <%= f.submit 'save', class: 'btn btn-primary btn-block' %>
<% end %>
