<!-- single card implementation -->
<div class="card card-outline-primary">
  <ul class="list-group list-group-flush">
    <li class="list-group-item"><h2><small>winner:</small> <b><%= link_to match.winning_player.name, match.winning_player, class: 'text-success' %></b></h2></li>
    <li class="list-group-item"><h2><small>loser:</small> <b><%= link_to match.losing_player.name, match.losing_player, class: 'text-danger' %></b></h2></li>
  </ul>
  <div class="card-block">
    <h5 class="card-title text-muted">overall record</h5>
    <p class="card-title">
      <%= "#{match.winning_player.name}" %> <b><%= "#{match.winning_player.matches_won_against(match.losing_player).count}" %></b> - <b><%= "#{match.losing_player.matches_won_against(match.winning_player).count}" %></b> <%= "#{match.losing_player.name}" %>
    </p>
  </div>
  <div class="card-footer text-muted text-xs-center">
    <%= match.created_at %>
  </div>
</div>
